@import "_config.scss";

/*Header Section */
header {
    position: sticky;
    top: 0;
    display: block;
    width: 100%;
    background: $dark-blue;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 5rem;
}

.App {
    flex: 1 0 auto;
}

.container {
    flex-grow: 1;

}

/* Navbar */
.cust-navbar {
    position: relative;
    display: flex;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.navItem{
    color: $white;
}

#basic-nav-dropdown{
    color: $white;
}
#basic-navbar-nav{
  margin-top: 15px;
}

.burger-button {
    background-color: $white;
}




/* Footer Section*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 140px;
    margin-top: 140px;
    background: $dark-blue;
    color: $white;
    padding-left: 20px;
    padding-right: 20px;

}
