@import "_config.scss";

/*Header Section */
header {
    position: fixed;
    display: block;
    width: 100%;
    background: $black;
    padding-left: 20px;
    padding-right: 20px;
}

.App {
    flex: 1 0 auto;
}

.container {
    flex-grow: 1;
    margin-top: 4rem;


}

/* Navbar */
.navItem{
    color: $white;
}

#basic-nav-dropdown{
    color: $white;
}

.burger-button {
    background-color: $white;
}


/*Showcase */
.showcase{
    height: 100vh;
    padding-top: 10rem;
    background: $black;
    color: $white;


}


.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}



/* Footer Section*/
footer {
    flex-shrink: 0;
    height: 140px;
    margin-top: 140px;
    background: $black;
    color: $white;
    padding-left: 20px;
    padding-right: 20px;

}
